<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /MailCtlr/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /MailCtlr/index.php [L]
</IfModule>